// There's importing the fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Colors
$real-white: #EDEDEE;
$real-blue: #1A429C;
$secondary-blue: #0449E9;
$light-blue: #5195EA;
$real-gray: #9C9DA2;
$dark-gray: #595B63;
$real-black: #0B0C11;

// Fonts
$sans-pro: 'Source Sans Pro', sans-serif;
$sans-work: 'Work Sans', sans-serif;
